<div class="container-fluid">
			<style>
			div {
			    background-color: lightgrey;
			    width: 100%;
			    height: 100%;
			    padding: 25px;
			    border: 25px solid navy;
			    margin: 25px;

				}
			</style>

	<%= link_to 'Create New_Blog',  sessions_new_path, :class=>"btn btn-success pull-right"  %>
	<br>
	</br>

  <button type="button" class="btn btn-primary btn-block" size="40px"><h1>Blog a Platform to share Ideas</h1></button> 
  	<br> <!-- 
<%= link_to 'New Blog', new_article_path, :class=>"btn btn-success" %> -->


<br>	
<!-- <nav class="navbar navbar-inverse"> -->
  <!-- <div class="container-fluid">
      <li class="active"><a href="#">Home</a></li>
      <li class="active"><a href="#">Title</a></li>
  </div> -->
<!-- </nav> -->

<br>
<br>

<% @articles.each do |article| %>
<div class="well">
	<h3><%= article.title %></h3>
	<%= link_to 'Show More',  "/articles/#{article.id}", :class=>"btn btn-success pull-right"  %>
	<p><%= article.text.gsub(/^(.{5,}?).*$/m,'\1...')%></p>


</div>
<%end%>
</table>

</div>
